#*******************
version_config      = 2019-12-15
version_script_bt   = 32.4
#*******************
# Conference Setup (which is split between conference and post-conference setup.
#                   conference setup      is used for generating abstract booklet,
#                                         web pages, and proceedings
#                   post-conference setup is used to generate data for DOIs/INSPIRE etc.
#-----------------
#   conference
#           _SPMS      		contains the SPMS base directory for the conference, i.e. https://oraweb.cern.ch/pls/IPAC2013/
#           _xmlfile   		contains only the conference XML "filename", not the directory (like 'xml_directory')
#           _logo      		contains only the logo/banner image's "filename", not the directory (like 'img_directory') of the logo to be used on the banner page
#           _logo_size 		provides the "width"x"height" of the logo/banner as it should be displayed
#           _url       		URL where the conference proceedings will end up on the JACoW file server
#                        	(should be for JACoW http://jacow.org/<conference-name>/
#           _respm     		e-mail address of the responsible person for generating the web pages for the conference 
#           _name      		name of the conference (<conference-name><year>) conference name lowercase with 4 digit year
#           _site      		contains City and Country of the conference venue (<city>, [state,] country)
#           _title     		title of the conference (<title of conference>, i.e. 11th International Computational Accelerator Physics Conference)
#           _date      		<date of conference> i.e. "August 19-24, 2012" [<month> <date-range> <year> should be separated only by one space]
#           _series             base name of the conference without edition etc.
#           _number             event in the series
#           _pub_copyr 		"Copyright \copyright{} <current-year> CC-BY-3.0 and by the respective authors"
#
#	    _pre       		switch on/off Pre-Release run (1=yes | 0=no)
#	    _pre_text  		"- Pre-Release Snapshot <date> <time>" i.e. 07-Oct-2016 18:00
#
#
# post-conference setup 
#----------------------
#           _editor    		email of editorial board: "<last-name>, <first-name> (<affiliation>)[<id-origin:id>]", several editors are concatenated with ";"
#                               e.g. with ORCID: "Schaa, Volker RW (GSI, Darmstadt, Germany)[ORCID:0000-0003-1866-8570]" otherwise take JACoWId
#           _isbn      		JACoW ISBN of the conference (978-3-95450-xxx-y), please ask Volker RW Schaa if you are not sure, i.e. 978-3-95450-116-8
#           _pub_date           year and month (numerical) of publication on JACoW, i.e. "2012-10"
#           _pub_by    		"JACoW" (fix entry for nearly all conferences)
#                        		JACoW/IEEE for NA-PAC and IPACs in North America
#                        		JACoW/EPS for IPACs in Europe
#          ref_watermark    contains th string which will be imprinted on papers which have been "peer previewed" (IPACs)
#                           e.g. "This is a preprint – the final version is published with IOP at http://iopscience.iop.org/issue/xxxx-xxxx/xxx/x"
#
#
#conference_SPMS      = https://<reginal-support-center>/pls/<conference>/ # base URL of login into SPMS instance
conference_SPMS      = https://spms.kek.jp/pls/ipac19/
conference_xmlfile   = spms.xml
#*******************
# Conference parameters
#
conference_logo      = logo.jpg					                    # logo used for the banner frame 
conference_logo_size = 489x128                                      # (pixel) real logo size can be scaled to this size
conference_url       = http://jacow.org/ipac2019/                   # (all lowercase!) where it will appear at JACoW (used for Inspire dataset)
conference_respm     = v.r.w.schaa@gsi.de			                # ends up in the generated html pages
conference_name      = IPAC2019                                 # e.g. IPAC2017, CYCLOTRONS2015, ...
conference_site      = Melbourne, Australia                         # e.g. "Barcelona, Spain" or "San Francisco, CA, USA"
conference_title     = 10th International Partile Accelerator Conference # complete name including number
conference_date      = 2019-05-19/2019-05-24						# date of conference (should be specified in ISO 8601 [JJJJ-MM-TT] as time range like 2013-04-28/2008-05-03)
conference_series    = International Partile Accelerator Conference							# series 
conference_number    = 10											# event in the series
# JACoW-id:                                                           to get the correct JACoWId, use https://oraweb.cern.ch/pls/jacow/xml2.author?ln=<lastname>&fn=<firstname>
# editorial board: <last-name>, <first-name> (<affiliation>)[<id-origin:id>]  + ";" as separator 
conference_editor    = "XXXX, YYYY (ANSTO, Melbourne, Australia)[?????];Schaa, Volker RW (GSI, Darmstadt, Germany)[ORCID:0000-0003-1866-8570]"
conference_isbn      = 978-3-95450-xxx-x                            # ISBN number (check http://www.jacow.org/Tools/ISBN or ask Volker if your conference is not listed)
series_issn          = ""                            				# ISSN number (check http://www.jacow.org/Tools/ISBN or ask Volker if your conference is not listed)
conference_pub_date  = 2019-05-20                                   # final publication date on JACoW
conference_pub_by    = JACoW  Publishing                            # a constant
conference_pub_copyr = Content from this work may be used under the terms of the CC BY 3.0 licence (\copyright{} 2021). Any distribution of this work must maintain attribution to the author(s), title of the work, publisher, and DOI.#
conference_pre       = 1                                            # this run is only a Pre-Release (1=yes | 0=no => production run)
conference_pre_text  = - Pre-Release Snapshot 24-May-2019 10:30		# string will be attached to "conference_site" and printed on each paper
ref_watermark        = This is a preprint --- the final version is published with IOP
# at \url{http://iopscience.iop.org/issue/xxxx-xxxx/xxx/x}#
#
# DOI related settings
#		DOI_prefix	test:	10.5072		<- everybody can use this
#			production:		10.18429    <- JACoW assigned DOI number
#
#       DOI_site	publication: 		http://jacow.org/<conference_name>/doi/
#									=>	http://accelconf.web.cern.ch/AccelConf/<conference_name>/doi/
#                   if not defined      http://jacow.org/<conference_name>/doi/
#
DOI_prefix	     	= 10.18429                 		    			# JACoW's production domain
#DOI_prefix	     	= 10.5072                                      	# test domain
DOI_useraccount     = --user CERN.JACOW:DataCite.cub-gwd			# do not propagate <password>
###DOI_site         = http://jacow.org/<conference-name>/doi/	    # site of DOI landing page (when commented out "#"; generated automatically
#                                                           		# when not set or defined, the standard is used: http://jacow.org/<conference>/doi/ 
#                                                           		#                       => http://accelconf.web.cern.ch/AccelConf/<conference>/doi/
data_generation_date = 2019-05-08			    					# date the proceedings were published <yyyy-mm-dd>
#*******************
# other files
#
protocol_directory  = ./PROTOCOL/
debug_file          = protocol.txt
deb_textconv        = 0                                             # text conversion/sanitizing debug output (=1) [0: reduces logging output to "debug_file"
deb_calltree        = 0                                             # only for debug purpose (=1)
debug_restricted	= 0
no_material_text	= ""
#*******************
# directory configuration (alphabetical order)
# all directory names with "#" are UPPERCASE directories, 
#               only contain material and do NOT go into the proceedings
#
#    abstract_   #	place for files containing the abstract content (Kazuro wanted the export for ICALEPCS to do keyword searches)
#    atc_        #	place for Author-Title-Check files
#    audio_       	for audio recordings
#    base_url     	base for reference links from docs, papers, pages [index.html]
#    content_    #	this is where the time-schedule, dividing sheets, pictures, etc. are coming from
#    doi_			for the DOI landing page within the conference standard
#    doixml_	 #  for the DOI XML data and registration batch file
#    export_      	for all files which have to do with citations or references to this article (<papercode>-[bib|ris|tex|txt].htm + <papercode>.xml)
#    html_        	for all html-files [.htm]
#                     (author, keyword, institute, session, ...)
#    img_         	for all images [.png, .jpg, .gif, ...]
#    paper_       	for all papers *with* embedded infos [.pdf]
#                     (keyword/author/..., conference tag, page numbers, etc.)  [.pdf]
#    poster_      	for all poster files (<papercode>_poster.pdf)
#    raw_paper_  #	for all papers *without* embedded infos [.pdf] (the processed files from JACoW editors) +
#                     all files needed for error checking (<paper_code>-[i|k|f].txt info/keywords/fonts etc.)
#    slides_      	for all transparency files (<papercode>_talk.pdf)
#    video_       	for video recordings (mp4, m4v, .etc)
#    xml_        #	for all xml related files (downloaded sessions and complete conference)
#
base_url            = ../index.htm
abstract_directory  = ./ABS/
atc_directory       = ./ATC/
audio_directory     = ../audio/
video_directory     = ../video/
content_directory   = ./CONTENTS/
html_directory      = ./html/
slides_directory    = ../talks/
img_directory       = ../im0ges/
paper_directory     = ./papers/
raw_paper_directory = ../PAPERS-FINAL/
xml_directory       = ./XML/
poster_directory    = ../posters/
export_directory    = ./export/
doi_directory       = ./doi/
doixml_directory    = ./DOIXML/
#*******************
# Security Pass Phrases (to be copied from SPMS)
#
PassPhraseDown      = Dzc6FJgFmz0Zzied4Vqh7zRD
PassPhraseUp        = Uws6DcWfwvnOz0zZieUevSNU
PassPhraseExtract   = jefDuOvNowEkHyofPowbUpMyreirOkciaztefNosvakdecks
#------------------------------------------------------------
# download ALL (=0) PDFs or only update the ones missing (=1)
pdf_update_only     = 0                 # 0 = no, download all; 1 = yes, only download new ones
#*******************
# paper_not_received_link = "0|1"
#   if "paper_not_received_link = 0" no TeX and PDF files will be generated
#   for missing papers, therefore no link in any of the lists (session, 
#   classification, author, and keyword) will be generated. In this case the 
#   entry in "paper_not_received_text" will not be used
#
# paper_not_received_text = "text"
# text to be put in papers when the final text has not been sent by the author
#   DIPAC2003 used "PAPER NOT YET RECEIVED" before finalizing
#              and "PAPER NOT RECEIVED" after submission stop
#   EPAC      uses "CONTRIBUTION NOT RECEIVED"
#
#	Pre-Release	use "Paper not yet received, processed, or QAed"
#
paper_not_received_text = "Paper not yet received, processed, or QAed"
paper_not_received_link = 0
#*******************
paper_ftn_switch          = 1     # footnotes will (not=0) be included
paper_agy_switch          = 1     # funding notes will (not=0) be included
proceedings_volume_switch = 1     # Proceedings volume will (not=0) be produced
context_switch            = 1     # (do not=0) generate a ConTeXt abstract booklet
abslatex_switch           = 1     # do (not=0) generate an E/PAC sytle abstract booklet
TeXhighlite               = blue  # color defined at date: blue/black
paper_strike_thru         = 1     # missing PDFs will (=1) not (=0) lead to strike-through paper-codes
citation_export           = 1     # export citations: set it to "1" when producing the proceedings
#*******************
#
# session/page related settings
# 
session_skip               = "|SUSPSNE|" # this or these sessions should be skipped when generating the web pages; each session name is embedded 
#                                  #   in "|" characters, when defining several sessions it should be writen as "|SESS-A|SESS-B|COFFEE|LUNCH|"
paper_skip				   = "|WEPSB062|WEPSB072|" # this or these papers will be skipped when generating the web pages; each paper has a "|" as separator
#*******************
#
# "P"aper numbers "P"er "L"ine (PPL) 
#     configurable number of paper codes listed for an author
#
#*******************
PPL_ltx                   = 3     # number for LaTeX Author index in Proceedings (=3)  (Abstract booklet normally 6)
PPL_ctx                   = 3     # number for ConTeXt Author index in Abstract booklet
PPL_xtx                   = 3     # number for XeTeX Author index in Abstract booklet
#*******************
#
# InDiCo specific settings
#
#*******************
indico_cut_of_trailing_ho  = yes  # InDiCo session names contain trailing "-1" strings, these will be cut off
indico_uppercase_session   = yes  # InDiCo session names are often lowercase and this option makes it automatically UPPERCASE
indico_code_prefix         = XB-  # InDiCo papers and talks just consist of an unique ID, this string will be prefixed to all IDs
#*******************
#
# abstract related settings
#      "abstract_insert" and "abstract_export" may not be true at the same time
# 
abstract_omission_text     = "no idea where the abstract went"       # standard text is "no abstract available"  
abstract_insert            = 0    # it's a semi-InDiCo specific switch because InDiCo's papers mostly do not have abstracts, 
#                                 # but 'old' reprocessed conferences don't either. ("yes" means get Abstract for paper <paper_code>.abs
#                                 # text via  scan_keywords.pl => <paper_code>-k.txt or typed one)
#    abs_directory        must be defined for abstract_export (and abstract_insert) as place for files containing the abstract content 
#								  (Kazuro wanted the export for ICALEPCS to do keyword searching)
#
abstract_export            = 1    # export abstract content for search of keywords: set it to "1" when function is needed 
#
